<div class="container mt-3 shadow-lg p-3 mb-5 bg-warning rounded ">
    <table class="table border border-bottom-0 ">
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Age</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <th scope="row">{{customer.id}}</th>
          <td scope="row">{{customer.firstName}}</td>
          <td scope="row">{{customer.lastName}}</td>
          <td scope="row">{{customer.email}}</td>
          <td scope="row">{{customer.mobileNumber}}</td>
          <td scope="row">{{customer.age}}</td>
          </tr>
        
      </tbody>
    </table>
 </div>